canvas{
    margin: 8px;
}

.transition{
    display: inline-block;
    position: relative;
}

#battle-activate{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

#interface{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    border-top: 4px;
    border-top-color: black;
    border-top-style: solid;
    opacity: 0;
    height: 150px;
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    margin: 8px;
    width: 1024px;
}

#attacks{
    width: 683px;
    height: 145px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#attack_types{
    border-left: 4px black solid;
    text-align: center;
    font-size: 16px;
    width: 341px;
    height: 148px;
}

button{
    cursor: pointer;
    border: 0;
}
button:hover{
    background-color: #bdbdbd;

}

*{
    font-family: 'Press Start 2P', cursive;
}